<!DOCTYPE html>
<html>
<head>
  <title>Accommodation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
	body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 0 auto;
  }
</style>
<body>
<nav class="purple valign-wrapper " role="navigation" style="margin-bottom: 1em">
    <div class="nav-wrapper container"><a id="logo-container" href="/hotels" class="brand-logo valign"><%= image_tag("hotel_logo.png", height: "64") %></a>
      <ul class="right hide-on-med-and-down">
        <li></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div id="main">
<%= yield %>
</div>
<footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="<%= root_path %>">Accommodation</a>
      </div>
    </div>
</footer>

</body>

</html>
